ul{

	list-style: none;
	border: 0px solid red;
	margin-left: 0px;

	
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.social{

	

	
	

}



.social ul{

	list-style: none;
	border: 0px solid red;
	margin-left: 0px;

	
}

.social ul li{


	display:inline;
	border: 0px solid black;
	

}



.social ul li a{

	
	display: inline-block;
	color: #fff;
	background-color: #000;
	padding:15px 26px;
	font-size: 20px;
	-webkit-transition:all 800ms ease ;
	-o-transition:all 800ms ease ;
	transition:all 800ms ease ;
	width: 70px;
	
	

}


.social ul li .face {background-color:#3b5998;}


.social ul li .goo {background: #d95232;}

.social ul li .twit {background: #00abf0;}

.social ul li .yout{background: red; }

.social ul li .what {background: #5CB85C; }


.social ul li a:hover{
	padding:15px 50px;
	background: #000;
}